body {
  padding-top: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
}

/* Remove number arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.data {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-container {
  width: 30vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list ul {
  list-style-type: none;
  padding-left: 0;
}
