<div *ngIf="pokemon && species" class="card" style="height: 100%">
  <img src="{{ pokemon.sprites.other['official-artwork'].front_default }}" />
  <div class="card-body">
    <div class="card-title">
      {{ species.id }} - {{ species.name | uppercase }}
    </div>
  </div>
  <ul
    class="list-group list-group-horizontal justify-content-center"
    style="width: 100%"
  >
    <li
      *ngFor="let type of pokemon.types"
      class="list-group-item .flex-fill"
      style="width: 100%"
    >
      {{ type.type.name | uppercase }}
    </li>
  </ul>
</div>
